<h1>HOMEPAGE.  SO DOGES.  SEE POST.  WOW.</h1>

<!-- text box to post a new doge
doge feed to show doges of people you're following
 -->

 <form action='/' method='POST'>
WOW: <input type="text" name="WOW" maxlength="141"><br>
=======<br>
=======
<div class="container">

 <h4> Logged in as: <%=@user.username%></h4>
<form action='/logout' method='POST'>
<input class="logout" type="submit" value="Log out">
</form><br>

 <!-- should have an @user -->
=======
</div>


