<div class="background">
<h2>WOW.  VERY WELCOME.  MUCH LOGIN.  WOW.</h2>
<form action='/login' method='POST'>
Username: <input type="text" name="username"><br>
Password: <input type="password" name="password"><br>

<input type="submit" value="Log in">
<% if @errors %>
<h3><%= @errors%></h3>
<% end %>
</form><br>

<h2>MUCH SIGNUP.  SO NEW.  WOW.</h2>
<form action='/signup' method='POST'>
Username: <input type="text" name="username"><br>
Password: <input type="password" name="password_hash"><br>
<input type="submit" value="Sign up">
</form><br>
</div>
